header div div 

body {
    background-color: azure;
}

header {
    background-color: #d1d2e7;
    height: 180px;
    width: 98%;
    padding: 1%;
    color: black;
}

body>div {
    background-color: #ffffff;
    padding-top: 5pt;
    padding-bottom: 10pt;
}

.h-container:after{
    clear: both;
    display: block;
    content: ''
}

.h-container:after{
    clear: both;
    display: block;
    content: ''
}
/*:after*/

.h-container .top_menu {
    float: left;
    /*float: left;	왼쪽으로 연속정렬*/
    width: 100px;
    text-align: center;
    border-right: 1px solid #ddd;
    /*오른쪽 선 속성*/
}

.h-container .item.last {
    float: right;
    border-right: none;
}

#navigation {
    background-color: #626586;
    float:left;
    display: table-cell;
    padding: 5pt 0.5% 5pt 0.5%;
    width: 12%;
    height: 518pt;
}

#warapper {
    display: table;
    width: 100%;
}


section {
    background-color: #e3e3e3;
    text-align:left;
    float:left;
    width: 85%;
    padding: 7.5pt 1% 5pt 1%;
    height : 525pt;
}

#post_list {
    width : 100%;
    text-align : center;
}

nav {
    background-color: #626586;
    float:left;
    display: table-cell;
    padding: 5pt 0.5% 5pt 0.5%;
    width: 12%;
    height: 518pt;
}

#post_Section {
    background-color: #e3e3e3;
    text-align:left;
    float:right;
    display: table-cell;
    width: 85%;
    padding: 5pt 1% 5pt 1%;
    height: 518pt;
    overflow: auto;
}

.starR1{
    background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat -52px 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer;
}
.starR2{
    background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer;
}
.starR1.on{background-position:0 0;}
.starR2.on{background-position:-15px 0;}